@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600&display=swap');

@import './vars';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', system-ui, -apple-system, sans-serif;
}

body {
  background-color: $dark;
  color: $white;
  font-size: 16px;
}

.container {
  max-width: 75rem;
  padding: 0 1rem;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.75rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.25rem;
}
h6 {
  font-size: 1.125rem;
}

button {
  cursor: pointer;
}

.text-shadow {
  text-shadow: 1px -1px 0px $green;
}
.shadow {
  box-shadow: 1px -1px 0px $green;
}

.btn {
  display: inline-flex;
  align-items: center;
  background: $white;
  border: none;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  font-weight: 600;
  transition: all 0.3s;
  &_dark {
    background: $dark;
  }
  &_primary {
    background: $green;
    &:hover {
      box-shadow: 0 0 5px $green;
    }
  }
  &_text {
    background: none;
    border: none;
    &:hover {
      background: lighten($green, 50);
    }
  }
  &_round {
    padding: 0;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    svg {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}
.text-uppercase {
  text-transform: uppercase;
}
